<footer>


    <h6 style="color: black;text-align: center">Copyright &copy; 2021 All Rights Reserved.</h6>
    <p style="color: black;text-align: center;">Password Management System.
        This Site is Created By Ambika Kewat.</p>


</footer>
</body>

</html>